#month th {
    font-size: 9px;
}
#month { border-collapse: collapse; margin: 2em auto; }
#month th, #month td { border: 1px solid #000; }
#month thead { background-color:#9cf; }
#month td { width: 75px; height: 75px; padding: 1px; vertical-align: top; overflow: auto; }
td .day { width: 75px; height: 75px; overflow:auto; margin-top: 0; }
/*#month tbody .weekend { background-color:#def; }*/
#month tbody .next, #month tbody .previous { background-color:#ddd; }

/*body {background-color: #fff;color: #000;font-family: arial, sans-serif;font-size: 90%;}*/
#month-year {
    text-align: center;
}
.photo {
    margin: 2px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}
.nopost {
    color: #BBBBBB;
    height: 75px;
    padding: 0;
    text-align: center;
    vertical-align: top;
}
.photo img {
    margin: 0;
    border: 0;
    line-height: 1;
}